<html>
<head>
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Content-Type" content="text/html; charset=euc-kr">
<title>KSPay</title>
</head>
<body>
 	<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
     <tr>
        <td valign="middle" align="center"><table width="280" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><img src="/images/progress_resouce.jpg" width="280" height="201"></td>
          </tr>
        </table>
		</td>
      </tr>
  </table>
</body>

<script language="JavaScript">
	function init()
	{
		var reCnclType =  '<%= reCnclType %>';
		var rcid = '<%= reCommConId %>';
		var rctype = '<%= reCommType %>';
		var rhash = '<%= reHash %>';
		var referenceId = '<%= referenceId %>';


		let objP = document.getElementById('popup');
			let objO = document.getElementById('overlay');
			let objPayment = document.getElementById('payment-frame');

		try{

			const divPayment = document.createElement('div');
			divPayment.style = 'display: none;';
			divPayment.innerHTML = `
        <form method="POST" id="KSPayWeb" target="_parent">

            <input type="hidden" id="reWHCid" name="reWHCid" value="${rcid}" />
            <input type="hidden" id="reWHCtype" name="reWHCtype" value="${rctype}" />
            <input type="hidden" id="reWHHash" name="reWHHash" value="${rhash}" />
						<input type="hidden" id="reCommConId" name="reCommConId" value="${rcid}" />
            <input type="hidden" id="reCommType" name="reCommType" value="${rctype}" />
            <input type="hidden" id="reHash" name="reHash" value="${rhash}" />
						<input type="hidden" id="reCnclType" name="reCnclType" value="${reCnclType}" />
						<input type="hidden" id="ECHA" name="ECHA" value="${referenceId}" />
        </form>
    `;

		document.body.appendChild(divPayment);
		var formPayment = document.getElementById('KSPayWeb');
		formPayment.action = "./kspay_wh_result";
		formPayment.submit();

		}catch(err){

		}
  }
  init()
</script>
</html>